.about {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5em 20em 0;
}

.about__row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  min-height: 370px;
  margin-bottom: 80px;
  background-color: rgba(255,255,255,0.5);
  opacity: 0;
  transform: translate3d(0, -20%, 0);
  transition: all 0.5s ease;
  transform-origin: top;
}

.about__row--expanded {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.about__image-container {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  float: left;
  min-height: 325px;
}

.about__image {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // box-shadow: 8px 8px 10px #aaa;
}

.about__content-container {
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  float: left;
  padding: 1em;
}

.about__title {
  margin-top: 0;
}

.about__text {

}

@media screen and (max-width: $media-query-size-medium) {
  .about  {
    padding: 5em 10em 0;
  }
  .about__row {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .about__row--reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: $media-query-size-small) {
  .about {
    padding: 5em 0 0;
  }

  .about__row {
    width: 90%;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
